<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Lokenath Catarer & Travels</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'CSS/index.css')}}">
</head>

<body style="background-image: url('lc.jpg');">
	 <marquee beahvior="alternate">
	 <h1><B><I><p align="center">WELCOME  TO</p><p align="center">LOKENATH  TOUR &  TRAVELS</p></h1></I></B></marquee>


<center>
<nav role="navigation">
  <ul>
    <li><a href="#">Short Travel's</a>
    	 <ul class="dropdown">
        		<li><a href="#">sundarban tour</a></li>
				<li><a href="#">puruliya tour</a></li>
				<li><a href="#">digha tor</a></li>
				<li><a href="#">kalimpong Tour</a></li>
				<li><a href="#">Bakkhali Tour</a></li>
				<li><a href="#">Bankura Tour</a></li>
      	</ul>
    </li>
    <li><a href="#">Long Travel's</a>
			<ul class="dropdown">
				<li><a href="#">napal tour</a></li>
				<li><a href="#">bhutan tour</a></li>
				<li><a href="#">darjiling tour</a></li>
				<li><a href="#">Hariddar Tour</a></li>
				<li><a href="#">Kerala tour</a></li>
				<li><a href="#">Dooars tour</a></li>
				<li><a href="#">Darjiling tour</a></li>
				<li><a href="#">Leh Ladakh Tour</a></li>
				<li><a href="#">Gangtok Tour</a></li>
			 	<li><a href="#">Shimla Tour</a></li>
				<li><a href="#">Ooty Tour</a></li>

	
			</ul>
    </li>	
	<li><a href="#">Cataring</a></li>
	<li><a href="#">Place's</a></li>
	<li><a href="#">Contact No</a></li>
  </ul>
</nav>
</center>

			
</body>
</html>